$app-black: #010101;
$app-white: #f7f8f7;
$app-dark-green: #006e49;
$app-yellow: #f2c92a;
$app-navy-blue: #07077e;
$app-light-blue: #05d6ed;
$app-red: #f92609;
$app-gray: #979797;
$app-pink: #fd6f7b;
$app-light-green: #6c9536;