@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Rubik+Dirt&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.helloText {
    font-size: 7rem;
    margin-bottom: -5rem;
    color: $app-white;
    font-family: 'Staatliches', cursive;
}

.helloTextMobile {
    font-size: 5rem;
    margin-bottom: -4rem;
    color: $app-white;
    font-family: 'Staatliches', cursive;
}

.mainPadding{
    padding-left: 2%;
}


.iAmText {
    font-size: 7rem;
    color: $app-yellow;
    font-family: 'Staatliches', cursive;
    margin-bottom: -1rem;
}

.iAmTextMobile {
    font-size: 4rem;
    color: $app-yellow;
    font-family: 'Staatliches', cursive;
    margin-bottom: -1rem;
}

.descriptionText {
    color: $app-white;
    font-size: 1.25rem;
}

.descriptionTextMobile {
    color: $app-white;
    font-size: large;
}

.imageDiv {
    border-radius: 1rem;
    //padding: 3rem;
}

.imageMargin{
    padding-right: 5rem;
    padding-left: 5rem;
}



// Possible Fonts:
// font-family: 'Luckiest Guy', cursive;
// font-family: 'Rubik Dirt', cursive;
// font-family: 'Silkscreen', cursive;

// .box{
//     display: flex;
//     //flex-flow: column;
//     height: 50rem;
//     // .content {
//     //     flex-grow: 1;
//     //     flex-shrink: 1;
//     //     flex-basis: auto;
//     // }
// }

// .testFifty {
//     height: 100%;
//     margin: 0;
//     padding: 0;
// }

// .nameDesign {

// }

// .nameCol {
//     //background-color: $app-yellow;
//     display: flex;
//     justify-content: center;
    
//     //color: $app-white;
// }

// .nameBox {
//     background-color: $app-yellow;
//     margin-top: -30rem;
//     width: 60%;
//     height: 10rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-family: 'Silkscreen', cursive;
//     color: $app-white;
//     font-size: 4rem;
//     //backface-visibility: visible;
// }




// .boxSizing {
//     //background-color: $app-pink;
//     width: 100%;
//     padding-top: 100%;
// }

// .boxPink {
//     background-color: $app-pink;
// }

// .boxRed {
//     background-color: $app-red;
//     display: flex;
//     flex-direction: row;
//     flex-grow: 1;
//     flex-basis: 100%;
// }

// .boxDarkGreen {
//     background-color: $app-dark-green;
// }

// .boxLightGreen {
//     background-color: $app-light-green;
// }

// .boxNavyBlue {
//     background-color: $app-navy-blue;
// }

// .boxLightBlue {
//     background-color: $app-light-blue;
// }

// .boxYellow {
//     background-color: $app-yellow;
// }

// .boxHeight {
//     height: 25rem;
// }









// // .bigName{
// //     color: $app-white;
// //     font-size: 3rem;
// //     font-family: 'Luckiest Guy', cursive;
// // }

// // .centerContent{
// //     display: flex;
// //     justify-content: center;
// // }

// // .leftBox{
// //     background-color: $app-yellow;
// // }

// // .middleBox{
// //     background-color: $app-pink;
// //     height: 13rem;
// //     width: 8rem;
// // }

// // .rightBox{
// //     background-color: $app-light-blue;
// //     height: 50rem;
// // }

// // .centralColumn{
    
// // }

// // .centralBox{
// //     background-color: $app-yellow;
// //     margin-top: -25rem;
// //     width: 75%;
// //     height: 10rem;
// // }

