@import './colors.scss';
//@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');



.nameClick {
    font-size: 1rem;
    //font-family: 'Playfair Display', serif;
    font-family: 'Lora', serif;
    color: $app-white;
    text-decoration: none;
}




.nameClickMobile {
    font-size: 1rem;
    //font-family: 'Playfair Display', serif;
    font-family: 'Lora', serif;
    color: $app-white;
}

.rightNavLayout {
    //display: flex;
    font-size: .75rem;
}

.rightNavLayout:hover {
    //display: flex;
    background-color: $app-black;
}

.rightNavContent {
   color: $app-gray;
}



.rightNavContent:hover {
    background-color: $app-gray;
 }

.leftNavContent {
    color: $app-gray;
    background-color: $app-black;
    pointer-events: none;
 }



.rightNavContentMobile {
    color: $app-gray;
    font-size: .75rem;
 }

 .rightNavContentMobile:hover {
    color: $app-white;
 }

.border {
    border-bottom: 1px solid $app-gray;
    background-color: $app-black;
}

.padding {
    padding-left: 2%;
    padding-right: 2%;
}


